<div class="form-group">
    <label for="videocategory_id">Categoria Video</label>
    <select class="form-control" id="videocategory_id" name="videocategory_id"  [(ngModel)]="videoCategorySelectedId" #videocategory="ngModel">
        <option value="">Elegir...</option>
        <option *ngFor="let videoCategory of videoCategories" value="{{videoCategory.id}}">{{videoCategory.name}}</option>
    </select>
    <div *ngIf="videocategory.errors?.required && videocategory.touched" class="invalid-feedback">
        Ha de seleccionar una categoria
    </div>

    <pre>{{videoCategorySelectedId}}</pre>

    
</div>
