<div class="container mt-5">
    <div class="row float-right">
        <a href="videos/new" class="btn btn-outline-success my-2 my-sm-0">New Video Category</a>
    </div>
    <ng-container *ngIf="loading; else elseTemplate">
        <div name="loading" id="loading" *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
♂
    <ng-template #elseTemplate>    
        <div class="row">
            <h1>Video Categories</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Tools</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let videoCategory of videosDisponibles;">
                        <th scope="row">{{videoCategory.id}}</th>
                        <td>{{videoCategory.name}}</td>
                        <td> <button class="btn btn-danger mr-3" (click)="deleteVideo()">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
    
        </div>
    </ng-template>
    
</div>