<form  (ngSubmit)="childFormSubmit(forma)" novalidate="" #forma="ngForm">    
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control" 
        [ngClass]="{'is-invalid':  (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched , 'is-valid': (!nombre.errors?.minlength && !nombre.errors?.required)}" 
        type="text" 
        placeholder="nombre" 
        name="nombre" 
        [(ngModel)]="modelo.name"
        required
        minlength=5
        #nombre="ngModel">
        <div *ngIf="nombre.errors?.required && nombre.touched" class="invalid-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
            Al menos {{nombre.errors.minlength.requiredLength}} caracteres
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!forma.valid">Guardar</button>
</form>
    
    
