
<!--<div class="form-group">
    <label for="videocategory_id">Categoria Video</label>
    <select class="form-control" id="videocategory_id"  [(ngModel)]="video.videocategory_id" name="videocategory_id" #videocategory_id="ngModel" required
        [ngClass]="{'is-invalid':  (videocategory_id.errors?.required) && videocategory_id.touched , 'is-valid': (!videocategory_id.errors?.required)}">
        <option value="">Elegir...</option>
        <option *ngFor="let videoCategory of videoCategories" value="{{videoCategory.id}}">{{videoCategory.name}}</option>
    </select>
    <div *ngIf="videocategory_id.errors?.required && videocategory_id.touched" class="invalid-feedback">
        Ha de seleccionar una categoria
    </div>
</div>-->



<div class="form-group">
    <label for="videocategory_id">Categoria Video</label>
    <app-videocategory-select 
    name="categoria" 
    [(ngModel)]="video.videocategory_id"
    [clase]="{'is-invalid':  ( categoria.errors?.required) && categoria.touched , 'is-valid': (!categoria.errors?.required)}"
    [ngClass]="{'is-invalid':  ( categoria.errors?.required) && categoria.touched , 'is-valid': (!categoria.errors?.required)}"
    required
    #categoria="ngModel"
    >
    </app-videocategory-select>


    <div *ngIf="categoria.errors?.required && categoria.touched" class="invalid-feedback">
        Este campo es requerido
    </div>
</div> 


<div class="form-group">
    <label for="nombre">Nombre</label>
    <input class="form-control" [ngClass]="{'is-invalid':  (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched , 'is-valid': (!nombre.errors?.minlength && !nombre.errors?.required)}" type="text" placeholder="nombre" name="nombre" [(ngModel)]="video.name"
    required minlength=5 #nombre="ngModel">
    <div *ngIf="nombre.errors?.required && nombre.touched" class="invalid-feedback">
        Este campo es requerido
    </div>
    <div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
        Al menos {{nombre.errors.minlength.requiredLength}} caracteres
    </div>
</div>

<div class="form-group">
    <label for="url">Url</label>
    <input class="form-control" [ngClass]="{'is-invalid':  (url.errors?.minlength || url.errors?.required) && url.touched , 'is-valid': (!url.errors?.minlength && !url.errors?.required)}" type="text" placeholder="url" name="url" [(ngModel)]="video.url"
    required minlength=5 #url="ngModel">
    <div *ngIf="url.errors?.required && url.touched" class="invalid-feedback">
        Este campo es requerido
    </div>
    <div *ngIf="url.errors?.minlength" class="invalid-feedback">
        Al menos {{url.errors.minlength.requiredLength}} caracteres
    </div>
</div>


<div class="form-group">
    <label for="picture">Picture</label>
    <input class="form-control" [ngClass]="{'is-invalid':  (picture.errors?.minlength || picture.errors?.required) && picture.touched , 'is-valid': (!picture.errors?.minlength && !picture.errors?.required)}" type="text" placeholder="picture" name="picture" [(ngModel)]="video.picture"
    required minlength=5 #picture="ngModel">
    <div *ngIf="picture.errors?.required && picture.touched" class="invalid-feedback">
        Este campo es requerido
    </div>
    <div *ngIf="picture.errors?.minlength" class="invalid-feedback">
        Al menos {{picture.errors.minlength.requiredLength}} caracteres
    </div>
</div>

<div class="form-group">
    <label for="description">Descripcion</label>
    <textarea class="form-control"  id="description" name="description"  [(ngModel)]="video.description" ></textarea>
</div>





